.App {
  text-align: center;
}
.heading {
  font-size: 40px;
}
.add-button-container {
  margin: 20px 0;
}
.gender-selection {
  width: 170px;
}
.button-container {
  margin: 20px;
}
.button-container Button {
  margin: 0 10px;
}
table {
  margin: auto;
  border-style: hidden;
  border-collapse: collapse;
}
tr {
  border-bottom: 1px solid black;
}
td,
th {
  padding: 10px;
}
.save-btn {
  margin-right: 15px !important;
}
.filter-container {
  text-align: right;
  margin-right: 300px;
}
