.App {
  text-align: center;
}
table {
  margin: auto;
  border-style: hidden;
  border-collapse: collapse;
}
tr {
  border-bottom: 1px solid black;
}
td, th{
  padding: 10px;
}
.save-btn{
  margin-right: 15px !important;
}
